/* .masonry-item { width: 200px; } */
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


.story-masonry {
  text-align: center;
  width: 100%;
  /* margin-left: 60px; */
}
.masonry-item {
  margin-bottom: 20px;
  background-color: #f1f1f1;
  background-size: cover;
  width: 340px;
  cursor: pointer;

}
ngx-masonry {
  margin: 0 auto;
}
[_nghost-c1] {
  display: block;
}
button {
  cursor: pointer;
  width: 40%;
  height: 50px;
  color: #f1f1f1;
  font-size: 1em;
  font-family: fantasy;
  background: black;
  border: 1px solid black;
  margin: 50px;
}

h1 {
  display: block;
  font-size: 3em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
  font-family: fantasy;
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.8;
}

table {
  margin-left: 60px;
  margin-bottom: 20px;
  width: 50%;
  align-items: center;
}

td {
  cursor: pointer;
  font-family: fantasy;
  font-size: 2em;
}

td:hover {
  text-decoration: underline;
}

.selected {
  background: linear-gradient(to right, red 50%, blue 50%);
  background-size: 200% 100%;
  background-position: left bottom;
}


